In [1]:
# Module Imports
import mariadb
import sys
import pandas as pd 
import numpy as n 
import matplotlib as mlt
import pymysql

In [3]:
def query_mariadb(query):
    try:
        conn = mariadb.connect(
            user="jack",
            password="password",
            host="172.30.1.54",
            port=3306,
            database="employee"
    
        )
    except mariadb.Error as e:
        print(f"Error connecting to MariaDB Platform: {e}")
        sys.exit(1)
    
    query_result= pd.read_sql(query,conn)
    conn.close()
 
    return query_result

In [ ]:
sql = "SELECT * FROM cate"
df = query_mariadb(sql)
print(df)