### 실행 전에 heidi나 다른 sql tool 쓰셔서 employee 데이터베이스 만들고 시작해야합니다!

In [2]:
# Module Imports
# pip install mysqlclient <- 중간에 error 뜨면 이거 설치하고 돌려보세요, flask 나 django를 통해 python 코드 -> sql로 연결해주는 library
import mariadb
import sys
import pandas as pd 
import numpy as n 
import matplotlib as mlt
import pymysql
import os

from sqlalchemy import create_engine 

# !pip install python_dotenv
from dotenv import load_dotenv

### 아래 돌리기 전에 .env 파일 수정 해 주세요!!

In [13]:
 # .env파일에서 개인 정보를 가져옴
load_dotenv()
u = os.getenv('USER_NAME2')
pw = os.getenv('PASSWORD2')
h = os.getenv('HOST')
datab = os.getenv('DATABASE')

### mariaDB 연결 방법 1 & .csv -> sql

In [14]:
engine = create_engine("mysql://{users}:{password}@{host}/{db}".format(users=u, password=pw,host=h, db=datab))

In [3]:
department = pd.read_csv('departments.csv')
department = pd.DataFrame(department)
department

  dept_no           dept_name
0    d001           Marketing
1    d002             Finance
2    d003     Human Resources
3    d004          Production
4    d005         Development
5    d006  Quality Management
6    d007               Sales
7    d008            Research
8    d009    Customer Service

In [17]:
department.to_sql('departments', engine, if_exists='replace')

9

### mariaDB 연결 방법 2 & sql -> pandas

In [19]:
# Connect to MariaDB Platform
try:
    conn = mariadb.connect(
        user=u,
        password=pw,
        host=h,
        port=3306,
        database=datab
 
    )
except mariadb.Error as e:
    print(f"Error connecting to MariaDB Platform: {e}")
    sys.exit(1)

In [20]:
# Get Cursor
cur = conn.cursor()

In [21]:
# 특정 데이터만 가져오기
cur.execute("SELECT dept_no, dept_name from departments")

In [22]:
for dept_no, dept_name in cur: 
    print(f"dept_no: {dept_no}, dept_name: {dept_name}")

dept_no: d001, dept_name: Marketing
dept_no: d002, dept_name: Finance
dept_no: d003, dept_name: Human Resources
dept_no: d004, dept_name: Production
dept_no: d005, dept_name: Development
dept_no: d006, dept_name: Quality Management
dept_no: d007, dept_name: Sales
dept_no: d008, dept_name: Research
dept_no: d009, dept_name: Customer Service

In [23]:
# 전체 데이터 가져온 뒤 pd로 보여주기 
cond = "SELECT * FROM departments"

In [24]:
df = pd.read_sql(cond, conn)
df

C:\Users\tempe\AppData\Local\Temp\ipykernel_20912\4098430588.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(cond, conn)

   index dept_no           dept_name
0      0    d001           Marketing
1      1    d002             Finance
2      2    d003     Human Resources
3      3    d004          Production
4      4    d005         Development
5      5    d006  Quality Management
6      6    d007               Sales
7      7    d008            Research
8      8    d009    Customer Service